@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    background-color: black;
}
.jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.jumbotron iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.volume-control {
    margin-top: 1rem;
}

.volume-control input[type="range"] {
    width: 50%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.movie-info h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.movie-info a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
}
